@{
    ViewData["Title"] = "About Us!";
}
<div class="row">
    <div>
        <h2>Stuff and Things about us</h2>
        <p>There are lots of things to know about us. Read more to find out!</p>

        <p>
          Just ask anyone who has used our services. They'll tell you!
          <br />
          There are all kinds of interesting facts to know!
        </p>
    </div>

    <img src="~/Images/stuff.jpg" alt="money growing" style="border-radius:50px; width 80%" ; class="col-md-4" />
</div>