@{
    ViewData["Title"] = "Contact Us!";
}
<div class="row">
    <div>
        <h2>Contact:</h2>
        <br />
        <h1>Mail us any time!</h1>
        <p>
            Address: We live here ST<br />
            A Town, State  99999<br />
        </p>
        <br/>
        
        <h1> Call 24/7</h1>
        <p>
            Phone: We have phones standing by all day!
        </p>
    </div>
</div>